<!-- <!DOCTYPE html>
<html>
<head>
	<title>Default Payment Predictor</title>
</head>
<body>
	<h1>Default Payment Predictor</h1>
	<form action="/process_data" method="post">
		<table>
			<tr>
				<td>ID:</td>
				<td><input type="number" name="id" required></td>
			</tr>
			<tr>
				<td>LIMIT_BAL:</td>
				<td><input type="number" name="limit_bal" required></td>
			</tr>
			<tr>
				<td>SEX:</td>
				<td><input type="number" name="sex" required></td>
			</tr>
			<tr>
				<td>EDUCATION:</td>
				<td><input type="number" name="education" required></td>
			</tr>
			<tr>
				<td>MARRIAGE:</td>
				<td><input type="number" name="marriage" required></td>
			</tr>
			<tr>
				<td>AGE:</td>
				<td><input type="number" name="age" required></td>
			</tr>
			<tr>
				<td>PAY_0:</td>
				<td><input type="number" name="pay_0" required></td>
			</tr>
			<tr>
				<td>PAY_2:</td>
				<td><input type="number" name="pay_2" required></td>
			</tr>
			<tr>
				<td>PAY_3:</td>
				<td><input type="number" name="pay_3" required></td>
			</tr>
			<tr>
				<td>PAY_4:</td>
				<td><input type="number" name="pay_4" required></td>
			</tr>
			<tr>
				<td>PAY_5:</td>
				<td><input type="number" name="pay_5" required></td>
			</tr>
			<tr>
				<td>PAY_6:</td>
				<td><input type="number" name="pay_6" required></td>
			</tr>
			<tr>
				<td>BILL_AMT1:</td>
				<td><input type="number" name="bill_amt1" required></td>
			</tr>
			<tr>
				<td>BILL_AMT2:</td>
				<td><input type="number" name="bill_amt2" required></td>
			</tr>
			<tr>
				<td>BILL_AMT3:</td>
				<td><input type="number" name="bill_amt3" required></td>
			</tr>
			<tr>
				<td>BILL_AMT4:</td>
				<td><input type="number" name="bill_amt4" required></td>
			</tr>
			<tr>
				<td>BILL_AMT5:</td>
				<td><input type="number" name="bill_amt5" required></td>
			</tr>
			<tr>
				<td>PAY_AMT1:</td>
				<td><input type="number" name="pay_amt1" required></td>
			</tr>
			<tr>
				<td>PAY_AMT2:</td>
				<td><input type="number"  name="pay_amt2" required></td>
            </tr>
            <tr>
            <td>PAY_AMT3:</td>
            <td><input type="number" name="pay_amt3" required></td>
            </tr>
            <tr>
            <td>PAY_AMT4:</td>
            <td><input type="number" name="pay_amt4" required></td>
            </tr>
            <tr>
            <td>PAY_AMT5:</td>
            <td><input type="number" name="pay_amt5" required></td>
            </tr>
            </table>
            <input type="submit" value="Submit">
            </form>
            
            </body>
            </html>
        -->
        <!DOCTYPE html>
<html>
<head>
    <title>Default Payment Predictor</title>
</head>
<body>
    <h1>Default Payment Predictor</h1>
    <form action="/process_data" method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="number" name="id" required></td>
            </tr>
            <tr>
                <td>LIMIT_BAL:</td>
                <td><input type="number" name="limit_bal" required></td>
            </tr>
            <tr>
                <td>SEX:</td>
                <td><input type="number" name="sex" required></td>
            </tr>
            <tr>
                <td>EDUCATION:</td>
                <td><input type="number" name="education" required></td>
            </tr>
            <tr>
                <td>MARRIAGE:</td>
                <td><input type="number" name="marriage" required></td>
            </tr>
            <tr>
                <td>AGE:</td>
                <td><input type="number" name="age" required></td>
            </tr>
            <tr>
                <td>PAY_0:</td>
                <td><input type="number" name="pay_0" required></td>
            </tr>
            <tr>
                <td>PAY_2:</td>
                <td><input type="number" name="pay_2" required></td>
            </tr>
            <tr>
                <td>PAY_3:</td>
                <td><input type="number" name="pay_3" required></td>
            </tr>
            <tr>
                <td>PAY_4:</td>
                <td><input type="number" name="pay_4" required></td>
            </tr>
            <tr>
                <td>PAY_5:</td>
                <td><input type="number" name="pay_5" required></td>
            </tr>
            <tr>
                <td>PAY_6:</td>
                <td><input type="number" name="pay_6" required></td>
            </tr>
            <tr>
                <td>BILL_AMT1:</td>
                <td><input type="number" name="bill_amt1" required></td>
            </tr>
            <tr>
                <td>BILL_AMT2:</td>
                <td><input type="number" name="bill_amt2" required></td>
            </tr>
            <tr>
                <td>BILL_AMT3:</td>
                <td><input type="number" name="bill_amt3" required></td>
            </tr>
            <tr>
                <td>BILL_AMT4:</td>
                <td><input type="number" name="bill_amt4" required></td>
            </tr>
            <tr>
                <td>BILL_AMT5:</td>
                <td><input type="number" name="bill_amt5" required></td>
            </tr>
            <tr>
                <td>BILL_AMT6:</td>
                <td><input type="number" name="bill_amt6" required></td>
            </tr>
            <tr>
                <td>PAY_AMT1:</td>
                <td><input type="number" name="pay_amt1" required></td>
            </tr>
            <tr>
                <td>PAY_AMT2:</td>
                <td><input type="number" name="pay_amt2" required></td>
            </tr>
            <tr>
                <td>PAY_AMT3;</td>
                <td><input type="number" name="pay_amt3" required></td>
            </tr>  
            <tr>
                <td>PAY_AMT4;</td>
                <td><input type="number" name="pay_amt4" required></td>
            </tr>  
            <tr>
                <td>PAY_AMT4;</td>
                <td><input type="number" name="pay_amt5" required></td>
            </tr>    
            <tr>
                <td>PAY_AMT5;</td>
                <td><input type="number" name="pay_amt6" required></td>
            </tr>  
            <tr>
                <td>default_payment_next_month;</td>
                <td><input type="number" name="default.payment.next.month" required></td>
            </tr>  
        </table>
        <input type="submit" value="Submit">
        </form>
        
        </body>
        </html>
          
            
